.idea 
__pycache__/
*.pyc
*.pyo
*.egg-info
build/
.eggs

#virtual python env
venv/

# Pyton derived notebook files
examples/*.py
examples/.ipynb_checkpoints/
examples/RealExample.ipynb
examples/data/*_test.hdf5

#GOS tables
database/Zhang/*.hdf5
database/Segger_Guzzinati_Kohl/*.gosh

# Sphinx documentation
doc/_build/