.idea 
__pycache__/
*.pyc
*.pyo
*.egg-info
build/
.eggs
dist/

#virtual python env
venv/

# Pyton derived notebook files
examples/*.py
examples/.ipynb_checkpoints/
examples/RealExample.ipynb
examples/data/*_test.hdf5

#GOS tables
database/Zhang/*.hdf5
database/Segger_Guzzinati_Kohl/*.gosh

pyEELSMODEL/database/Zhang/*.hdf5
pyEELSMODEL/database/Segger_Guzzinati_Kohl/*.gosh

# Sphinx documentation
doc/_build/
pyEELSMODEL/database/Segger_Guzzinati_Kohl/Segger_Guzzinati_Kohl_1.0.0.gos
pyEELSMODEL/database/Segger_Guzzinati_Kohl/onset_energies.hdf5
